#page-orphanage {
  display: flex;
  min-height: 100vh;
}

aside.sidebar {
  position: fixed;
  height: 100%;
  padding: 3.2rem 2.4rem;
  background: #15c3d6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

aside.sidebar footer button {
  width: 4.8rem;
  height: 4.8rem;
  border: none;
  background: #12afcb;
  border-radius: 1.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

aside.sidebar footer button:hover {
  background: #17d6eb;
}

main {
  flex: 1
}

.with-sidebar {
  padding-left: 11rem;
}

/* details */

.orphanage-details {
  width: 70rem;
  margin: 6.4rem auto;
  background: white;
  border: 1px solid #d3e2e5;
  border-radius: 2rem;
  overflow: hidden;
}

.orphanage-details > img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1.6rem;
  margin: 1.6rem 4rem 0;
}

.images button {
  border: 0;
  background: none;
  height: 8.8rem;
  cursor: pointer;
  border-radius: 2rem;
  overflow: hidden;
  opacity: 0.6;
  transition: opacity 200ms;
}

.images button:hover {
  opacity: 1;
}

.images button:hover,
.images button.active,
.images button img {
  width: 100%;
  height: 8.8rem;
  object-fit: cover;
}

/*orphanage-details-content*/

.orphanage-details-content {
  padding: 8rem;
}

.orphanage-details-content h1 {
  color: #4d6f80;
  font-size: 5.4rem;
  line-height: 1.5;
  margin-bottom: 0.8rem;
}

.orphanage-details-content p {
  line-height: 1.6;
  color: #5c8599;
  margin-top: 2.4rem;
}

.map-container {
  margin-top: 6.4rem;
  background: #e6f7fb;
  border: 1px solid #b3dae2;
  border-radius: 2rem;
}

#mapid {
  width: 100%;
  height: 28rem;
}

.map-container footer {
  padding: 2rem 0;
  text-align: center;
}

.map-container footer a {
  color: #0089a5;
  text-decoration: none;
}

.map-container .leaflet-container {
  border-bottom: 1px solid #dde3f0;
  border-radius: 2rem;
}

.orphanage-details-content hr {
  width: 100%;
  height: 1px;
  border: 0;
  background: #d3e2e6;
  margin: 6.4rem 0;
}

.orphanage-details-content h2 {
  font-size: 3.6rem;
  line-height: 1.5rem;
  color: #4d6f80;
}

.open-details {
  margin-top: 2.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.open-details div {
  padding: 3.2rem 2.4rem;
}

.open-details img {
  display: block;
  margin-bottom: 2rem;
}

.open-details .hour {
  background: linear-gradient(149.97deg, #e6f7fb 8.13%, #ffffff 92.67%);
  border: 1px solid #b3dae2;
  border-radius: 2rem;
  color: #5c8599;
}

.open-details .open-on-weekends {
  background: linear-gradient(154.16deg, #edfff6 7.85%, #ffffff 91.03%);
  border: 1px solid #a1e9c5;
  border-radius: 20px;
  color: #37c77f;
}

.primary-button {
  margin-top: 6.4rem;
  width: 100%;
  height: 6.4rem;
  border: 0;
  cursor: pointer;
  background: #3cdc8c;
  border-radius: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.primary-button:hover {
  background: #36cf82;
}

.primary-button img {
  margin-right: 1.6rem;
}
